<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<h1>Tripwire</h1>
<h5>(over?)protecting your things when duty calls</h5>
<div class="container">
  <div class="row">
    <div class='center'>
      <button class='btn begin' ng-click="open()">click to begin</button>
    </div>
  </div>
</div>
 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body" style="text-align:center;">
          <p>"you give us your phone #, we use your webcam to text you if someone is snooping around while you're gone."</p>
          <p>cell #: </p><input type="text" ng-model="cell" placeholder="xxx-xxx-xxxx"></input>
          <p>email: </p><input type="text" ng-model="email" placeholder="personal.gu@rd.ian"></input>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="!email || !cell">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>
<button class="btn btn-primary" ng-click="stopCamera()" ng-show="cameraOn">Stop camera</button>
